{% extends 'timepiece/base.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block title %}{% if entry %}Update{% else %}Create{% endif %} Simple Entry{% endblock title %}

{% block crumbs %}
    {{ block.super }}
    {% if entry %}
        <li><span class="divider">/</span> <a href="{% url 'edit_simple_entry' entry.pk %}">Update Simple Entry</a></li>
    {% else %}
        <li><span class="divider">/</span> <a href="{% url 'create_simple_entry' %}">Create Simple Entry</a></li>
    {% endif %}
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{% if entry %}Update{% else %}Create{% endif %} Simple Entry</h2>

            <br style="clear: both;" />

            <form class="form-horizontal" action="" method="get" accept-charset="utf-8">
                {{ form_business|as_bootstrap:"horizontal" }}
            </form>

            {% if proj_business %}
            <form class="form-horizontal" action="" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ form|as_bootstrap:"horizontal" }}
                <div class="form-actions">
                    <input class="btn btn-primary" type='submit' name='submit' value='Save' />
                    <input class="btn" type='button' value='Cancel' onclick="history.back()" />
                </div>
            </form>
            {% endif %}

        </div>
    </div>
{% endblock content %}
